@import '../css/modules/site-menu.scss';

module ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 15px;
	align-items: center;
}

.btn-svg {
	appearance: none;
	border-radius: 50%;
	max-width: 35px;
	height: 35px;

	svg {
		padding: 2px;
	}
}