button {
	max-width: fit-content;
}

.button {
	font-size: 16px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	max-width: fit-content;
	padding: 13px 20px 13px;
	outline: 0;
	border: 1px solid black;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	color: var(--black);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:after {
	content: "";
	background-color: var(--color-soft);
	width: 100%;
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 7px;
	left: 7px;
	transition: 0.2s;
}

@media (min-width: 768px) {
	.button {
		padding: 13px 50px 13px;
	}
}


.button:hover {
	color: var(--page);
}

.button:hover:after {
	top: 0px;
	left: 0px;

	background-color: var(--color);
}

.button-60 {
	align-items: center;
	appearance: none;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	border-radius: .375em;
	box-shadow: none;
	box-sizing: border-box;
	color: #363636;
	cursor: pointer;
	display: inline-flex;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	height: 2.5em;
	justify-content: center;
	line-height: 1.5;
	padding: calc(.5em - 1px) 1em;
	position: relative;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: top;
	white-space: nowrap;
}

.button-60:active {
	border-color: #4a4a4a;
	outline: 0;
}

.button-60:focus {
	border-color: #485fc7;
	outline: 0;
}

.button-60:hover {
	border-color: #b5b5b5;
}

.button-60:focus:not(:active) {
	box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}