@import 'reset.css';
@import 'setup.css';
@import 'variables.css';
@import 'typography.css';
@import 'components.css';

.main-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-gap: 1rem;
	column-gap: 1.1rem;
}

.main-grid li a {
	height: 100%;
}

.category-intro {
	font-size: clamp(0.65rem, calc(0.63rem + 0.13vw), 0.72rem);
	max-width: 45ch;
}

@media (min-width: 600px) {

	.category-intro {
		font-size: clamp(0.94rem, calc(0.87rem + 0.34vw), 1.13rem);
		max-width: 56ch;
	}

}