@import 'reset.css';
@import 'setup.css';
@import 'variables.css';
@import 'typography.css';
@import 'components.css';

.main-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-gap: 16px;
}