@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/dunkin');

:root {
	--step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
	--step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
	--step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
	--step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
	--step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
	--step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
	--step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
	--step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
	--step-6: clamp(3.36rem, calc(2.87rem + 2.45vw), 4.77rem);
}

.roar-voice {
	font-size: var(--step-6);
	text-transform: uppercase;
}

.yell-voice {
	font-size: var(--step-5);
}

.loud-voice {
	font-size: var(--step-4);
}

.attention-voice {
	font-size: var(--step-3);
}

.chant-voice {
	font-size: var(--step-2);
}

.strict-voice {
	font-size: var(--step-1);
}

.calm-voice,
p,
li,
a,
button {

	font-size: var(--step-0);

}

small,
.small-voice {
	font-size: var(--step--1);
}

.tiny-voice {
	font-size: var(--step--2);
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}