@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.roar-voice {
	font-size: clamp(3.36rem, calc(2.63rem + 3.65vw), 5.36rem);
	font-weight: 700;
	text-transform: uppercase;
}

.yell-voice {
	font-size: clamp(2.80rem, calc(2.26rem + 2.71vw), 4.29rem);
}

.loud-voice {
	font-size: clamp(2.33rem, calc(1.93rem + 2.00vw), 3.43rem);
}

.attention-voice {
	font-size: clamp(1.94rem, calc(1.65rem + 1.46vw), 2.75rem);
}

.chant-voice {
	font-size: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.20rem);
}

.strict-voice {
	font-size: clamp(1.35rem, calc(1.20rem + 0.74vw), 1.76rem);
}

.calm-voice,
p,
li,
a {

	font-size: clamp(0.94rem, calc(0.87rem + 0.34vw), 1.13rem);

}

small,
.small-voice {
	font-size: clamp(0.78rem, calc(0.74rem + 0.22vw), 0.90rem);
}

.tiny-voice {
	font-size: clamp(0.65rem, calc(0.63rem + 0.13vw), 0.72rem);
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}