:root {
	--white: #ffffff;
	--white-soft: #f8f8f8;
	--white-mute: #f2f2f2;

	--black: #181818;
	--black-soft: #222222;
	--black-mute: #282828;

	--header-space: 122.5px;
}

html {

	--simple-small-space: 5px;
	--simple-space: 20px;
	--simple-big-space: 40px;

	--general-space: 8vh;
	--tight-space: 2.6vh;

	--thin: 3px;
	--thick: 5px;
	--Xthick: 9px;
}

html {
	--color-text: rgb(62, 52, 47);
	--page: rgb(252, 252, 252);
	--page-opacity: rgb(243 244 247 /.8);
	--page-support: rgb(242, 230, 206);

	--color: rgb(247, 122, 20);
	--color-soft: rgb(237, 191, 176);
	--color-soft-rgb: 237, 191, 176;
	--color-mute: rgb(199 123 100);
	--color-dark: rgb(144, 83, 69);


	--off-color: #91577C;
	--off-color-mute: #AA889B;
	--off-color-soft: #eacdde;

	--support: rgb(68 68 68);
	--support-soft: rgb(92, 91, 91);
	--support-mute: rgb(179, 179, 179);
	--support-light: rgb(203, 203, 203);
}


@media(min-width: 1600px) {

	html {
		--general-space: 3vh;
		--tight-space: 1.7vh;
	}
}


/* $animations*/

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes drop-in {
	from {
		transform: translateY(-200px);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes slide-in {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes smooth {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes rotateAnimation {
	from {
		transform: rotateY(45deg);
	}

	to {
		transform: rotateY(225deg);
	}
}

@keyframes rotate {
	0% {
		transform: rotate3d(0, 0, 0, 0);
	}

	100% {
		transform: rotate3d(1, 0, 360deg);
	}
}


@keyframes spin {
	0% {
		transform: rotateY(0deg) rotateX(0deg);

	}

	100% {
		transform: rotateY(360deg) rotateX(360deg);
	}

}

@keyframes circular {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

@keyframes alertIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes upFadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes rightFadeIn {
	from {
		opacity: 0;
		transform: translateX(20px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes leftFadeIn {
	from {
		opacity: 0;
		transform: translateX(-200px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}